#shuffleButton {
    -fx-text-fill: #333;
    -fx-font-size: 18px;
    -fx-background-radius: 8;
    -fx-background-color: transparent;
    -fx-border-color: #e8e8e8;
    -fx-border-radius: 8;
    -fx-padding: 10 25;
    -fx-effect: dropshadow(gaussian, #c5c5c5, 6, 0.3, 3, 3),
    dropshadow(gaussian, #ffffff, 6, 0.3, -3, -3);
    -fx-cursor: hand;
}

#removeButton{
    -fx-background-color: transparent;
    -fx-text-fill: #cc0000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 0;
}

#topBar {
    -fx-background-color: transparent;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1 0;
}

#topBarButtons{
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 6 16;

}

#resultLabel{
    -fx-text-fill: #333;
}

.list-view {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
